:root {
  --background: #4A314D;
  --highlight: #E8DDB5;
  --main: #3C787E;
  --second: #A499BE;
  --accent: #F09D51;
}

body {
  background-color: var(--background);
  color: var(--highlight);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--second);
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3em;
  margin: 0;
  color: var(--highlight);
}

main {
  padding: 20px;
}

.content {
  margin: 30px;
  padding: 30px;
  border: var(--main) solid 2px;
  border-radius: 30px;
  background-color: var(--second);
}

h2 {
  font-size: 2em;
  color: var(--highlight);
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: var(--second);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: var(--highlight);
}

.topnav {
  background-color: var(--main);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--highlight);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--second);
  color: var(--accent);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--highlight);
  color: var(--second);
}

.sepia {
  filter:sepia(75%)
}

.smallergif {
  transform: scale(.8)
}